<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test</title>
  </head>
  <body>
    <noscript>
      <h2>Давайте обозначим очевидное</h2>
      <p>
        У вас отключён JavaScript.
        Каким магическим образом вы собрались:
      </p>
      <ul>
        <li>смотреть видео через плеер <strong>на JS</strong>;</li>
        <li>писать в чатик, работающий <strong>на JS</strong>, —</li>
      </ul>
      <p>
        я не знаю и знать не желаю.
        Поэтому сделайте исключение: разрешите тут JS.
      </p>
      <p>
        Или <a href="irc://irc.esper.net/#cc.ru">зайдите в IRC</a>.
        Сделать это можно хоть с чайника, и JS не нужен.
      </p>
    </noscript>
    <div id="container" style="display: none;">
      <header id="header">
        <h1>Стримы с Подкроватья</h1>
        <h2 id="streamName"></h2>
      </header>
      <video id="player"></video>
      <div id="chat"></div>
    </div>
  </body>
</html>
