* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #2b333f;
  color: #eee;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#container {
  display: grid;
  grid: [row1-start] "header chat" auto [row1-end]
        [row2-start] "player chat" 1fr [row2-end]
        / 2fr 1fr;
  align-items: start;
  width: 100%;
  height: 100%;
}

#header {
  grid-area: header;
  padding: 1em;
}

#header h1, #header h2 {
  padding: 0;
  margin: 0;
}

#header h2 {
  margin-top: 1em;
}

#player {
  grid-area: player;
  max-width: 100%;
  width: unset;
  height: unset;
}

#player video {
  position: static;
  height: unset;
}

#chat {
  grid-area: chat;
  height: 100%;
}

#chat iframe {
  width: 100%;
  height: 100%;
  border: none;
}
